services:
  frontend:
    image: marzbansellerpanel/msp-frontend:dev
    restart: always
    environment:
      NEXT_SERVER_ACTIONS_ENCRYPTION_KEY: ${NEXT_SERVER_ACTIONS_ENCRYPTION_KEY}
    volumes:
      - ./config.json:/frontend/data/config.json:ro
    depends_on:
      - backend
    networks:
      - internal
    security_opt:
      - no-new-privileges:true

  backend:
    image: marzbansellerpanel/msp-backend:dev
    restart: always
    volumes:
      - ./config.json:/backend/data/config.json:ro
      - ./certs:/backend/certs:ro
    networks:
      - internal
    security_opt:
      - no-new-privileges:true

  nginx:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    ports:
      - "8443:8443"
    depends_on:
      - frontend
      - backend
    networks:
      - internal
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /var/cache/nginx
      - /var/run
      - /var/log/nginx

networks:
  internal:
    driver: bridge
